<section class="channel-h5 channel-h5_tab" id="Tag__20">
	<div class="channel-h5__header">
		<p class="channel-h5__title channel-group__title_left">
			重磅推荐 <i>推</i>
		</p>
		<div class="tab">
			<a href="javascript:" da="ch_418.2.t.1.0" class="tab__on">男</a>
			<a href="javascript:" da="ch_418.2.t.2.0">女</a>
		</div>
	</div>
	<div class="tab__bd">
		<div class="tab__wrap">
			<div class="Fade list-h5__wrap">
				<div style="visibility: visible;">
					<ul class="list-h5">
						<li>
							<div class="book-h5" data-href="#page=book&amp;source_id=302086&amp;source=2" da="ch_418.2.b.0*2_302086" expose="">
								<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="302086" id="Tag__21">
									<img alt="超级姐夫" src="http://cover.read.duokan.com/mfsv2/download/s010/p01685Z6AqDQ/qbgbHnvaYxJXMA.jpg!s">
									<div class="u-tagRT"></div>
									<p class="book-h5__finish">完结</p>
									<div class="book-h5__order">1</div>
								</div>
								<div class="book-h5__info">
									<p class="book-h5__title">超级姐夫</p>
									<p class="book-h5__author">
										<span class="author">酒天</span>
									</p>
									<p class="book-h5__summary">一个姐夫，众多小姨子！</p>
									<div class="book-h5__wrap">
										<div class="book-h5__tag">现代言情</div>
										<div class="book-h5__tag">142万字</div>
										<!--<p class="book-h5__latest">完结</p>
									-->
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="book-h5 book-h5_no-img" data-href="#page=book&amp;source_id=270851&amp;source=2" da="ch_418.2.b.1*2_270851" expose="">
							<span class="book-h5_no-img__order">02</span>
							<div class="book-h5_no-img__info">
								<p class="book-h5_no-img__title">
									最强特种兵之龙刺 <i class="book-h5_no-img__author"><span class="author">赤色星尘</span></i> 
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="channel-h5__footer_next" id="Tag__24">
		<a class="btn-h5__next" href="javascript:" da="ch_418.2.n.0">换一换</a>
		<a class="btn-h5__more" data-href="#page=channel&amp;id=369" da="ch_418.2.m.0">查看全部</a>
	</div>
</div>

</section>