<section class="channel-h5 channel-h5_next" id="Tag__3">
	<div class="channel-h5__header">
		<p class="channel-h5__title channel-group__title_left">本周最火</p>
	</div>
	<div class="Fade list-h5__wrap">
		<div style="visibility: visible;">
			<ul class="list-h5">
				<li>
					<div class="book-h5" data-href="#page=book&amp;source_id=44591&amp;source=2" da="ch_418.1.b.2*2_44591" expose="">
						<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="44591" id="Tag__6">
							<img alt="我们住在一起" src="http://cover.read.duokan.com/mfsv2/download/s010/p01qrJ8uYCpb/VhHg81ZBj0ZkqG.jpg!s">
							<div class="u-tagRT"></div>
							<p class="book-h5__finish">完结</p>
						</div>
						<div class="book-h5__info">
							<p class="book-h5__title">我们住在一起</p>
							<p class="book-h5__author">
								<span class="author">红九</span>
							</p>
							<p class="book-h5__summary">
								她的闺蜜问：你们是什么关系？
他大言不惭：我们住在一起。
她怒从心起：住你妹！是合租、合租好吗！
							</p>
							<div class="book-h5__wrap">
								<div class="book-h5__tag">原创</div>
								<div class="book-h5__tag">现代言情</div>
								<div class="book-h5__tag">30万字</div>
								<!--<p class="book-h5__latest">完结</p>
							-->
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="channel-h5__footer_next" id="Tag__19">
		<a class="btn-h5__next" href="javascript:" da="ch_418.1.n.0">换一换</a>
		<a class="btn-h5__more" data-href="#page=topic&amp;type=fiction&amp;id=11059" da="ch_418.1.m.0">查看全部</a>
	</div>
</div>
</section>