<div class="new-page shelf">
	<div class="shelf__top">
		<div class="shelf__switch"></div>
		<a href="/search"><div class="shelf-search">输入书名/作者/关键字</div></a>
	</div>
	<ul class="book-list">
		<li id="Tag__72">
			<div class="u-book" data-href="#page=reader&amp;id=270635" da="shelf.b.0*2_270635" expose="">
				<a>
					<div class="book-cover Lazy_loading Lazy_loaded" data-id="270635" id="Tag__73">
						<img alt="盗墓笔记" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
						<div class="u-tagRT"></div>
					</div>
				</a>
				<div class="info">
					<h3 class="title single-line">盗墓笔记</h3>
					<p class="author single-line">
						<span class="author">南派三叔</span>
					</p>
					<div class="wrap">
						<p class="extra single-line">最新: 《后记》下</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
</div>