<section class="banner-h5">
	<div class="channel-h5__header">
		<p class="channel-h5__title channel-group__title_left">
			精选专题 <i>热</i>
		</p>
	</div>
	<ul class="banner-h5__list">
		<div>
			<li v-for="item in topic">
				<div class="banner-h5__cover">
					<img class="cover" v-bind:src="item.ad_pic_url"></div>
			</li>
		</div>
	</ul>
	<div class="channel-h5__footer" id="Tag__69">
		<a class="btn-h5__more" data-href="#page=topic_list&amp;type=fiction&amp;_t=&amp;&amp;from=topic" da="ch_418.6.m.0">更多精彩专题&gt;&gt;</a>
	</div>
</section>