<section class="top-home">
	<div class="top-home__search" data-href="#page=search">输入书名/作者/关键字</div>

	<div class="Swipe slider-banner Destructor" data-track="s" id="Tag__2">
		<div style="width: 719px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
			<div data-track="0" style="width: 719px;">
				<div class="u-topic" data-href="http://dushu.xiaomi.com/#page=channel&amp;id=410" da="ch_418.0.n.0" expose="">
					<div class="banner">
						<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01SJgz7PyCu/jte7bnN90FauW2.jpg"></div>
				</div>
			</div>
		</div>
		<div class="Swipe-tab">
			<a class="Swipe-tab__on"></a>
		</div>
	</div>

	<ul class="top-home__btn">
		<li data-href="#page=channel&amp;id=369?" data-title="男生">
			<img class="top-home__icon" src="http://image.read.duokan.com/mfsv2/download/s010/p01lq7mbkaEJ/OGlv1em8buXDgB.png">
			<p class="top-home__des">男生</p>
		</li>
	</ul>

</section>