<section class="channel-group main-card">
	<div class="channel-group__header">
		<h2 class="channel-group__title channel-group__title_left">限时免费</h2>
	</div>
	<ul class="book-table">
		<li data-track="0">
			<div class="u-book -vertical" data-href="#page=book&amp;source_id=308971&amp;source=2" da="ch_418.5.b.0*2_308971" expose="">
				<div class="book-cover Lazy_loading" data-id="308971" id="Tag__63">
					<img alt="悍妃在上">
					<div class="u-tagRT -freefiction"></div>
				</div>
				<div class="info">
					<h3 class="title">悍妃在上</h3>
				</div>
			</div>
		</li>
	</ul>
	<a class="channel-group__footer" data-href="#page=channel&amp;id=371">更多限免佳作&gt;&gt;</a>
</section>