<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/index.css"/>
	<title></title>
</head>
<body>
	<div id="root">
		<div class="Swipe Swipe_full Destructor">
			<div style="width: 734px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
				<div style="width: 734px;">
					<% include include/header.html %>
					<div class="Swipe Swipe_full container-scroll Destructor">
						<div style="width: 1468px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
							<div style="width: 734px;">
								<div class="new-page shelf">
									<div class="shelf__top">
										<div class="shelf__switch" id="Tag__71"></div>
										<div class="shelf-search" data-href="#page=search">输入书名/作者/关键字</div>
									</div>
									<ul class="book-list">
										<li id="Tag__72">
											<div class="u-book" data-href="#page=reader&amp;id=270635" da="shelf.b.0*2_270635" expose="">
												<a>
													<div class="book-cover Lazy_loading Lazy_loaded" data-id="270635" id="Tag__73">
														<img alt="盗墓笔记" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
														<div class="u-tagRT"></div>
													</div>
												</a>
												<div class="info">
													<h3 class="title single-line">盗墓笔记</h3>
													<p class="author single-line">
														<span class="author">南派三叔</span>
													</p>
													<div class="wrap">
														<p class="extra single-line">最新: 《后记》下</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>