<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/index.css"/>
	<title></title>
</head>
<body>
	<div id="root">
		<div class="Swipe Swipe_full Destructor">
			<div style="width: 734px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
				<div style="width: 734px;">
					<% include include/header.html %>
					<div class="Swipe Swipe_full container-scroll Destructor">
						<div style="width: 1468px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
							<div style="width: 734px;">
								<div class="new-page shelf">
									<div class="shelf__top">
										<div class="shelf__switch" id="Tag__71"></div>
										<div class="shelf-search" data-href="#page=search">输入书名/作者/关键字</div>
									</div>
									<ul class="book-list">
										<li id="Tag__72">
											<div class="u-book" data-href="#page=reader&amp;id=270635" da="shelf.b.0*2_270635" expose="">
												<a>
													<div class="book-cover Lazy_loading Lazy_loaded" data-id="270635" id="Tag__73">
														<img alt="盗墓笔记" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
														<div class="u-tagRT"></div>
													</div>
												</a>
												<div class="info">
													<h3 class="title single-line">盗墓笔记</h3>
													<p class="author single-line">
														<span class="author">南派三叔</span>
													</p>
													<div class="wrap">
														<p class="extra single-line">最新: 《后记》下</p>
													</div>
												</div>
											</div>
										</li>
										<li id="Tag__74">
											<div class="u-book" data-href="#page=reader&amp;id=317733" da="shelf.b.1*2_317733" expose="">
												<a>
													<div class="book-cover Lazy_loading Lazy_loaded" data-id="317733" id="Tag__75">
														<img alt="重生之国民男神" src="http://cover.read.duokan.com/mfsv2/download/s010/p01OKCgsrZfq/3IzTun8ZP3Yrud.jpg!s">
														<div class="u-tagRT -freefiction"></div>
													</div>
												</a>
												<div class="info">
													<h3 class="title single-line">重生之国民男神</h3>
													<p class="author single-line">
														<span class="author">水千澈</span>
													</p>
													<div class="wrap">
														<p class="extra single-line">最新: 她是女人看不出来？</p>
													</div>
												</div>
											</div>
										</li>
										<li id="Tag__76">
											<div class="u-book" data-href="#page=reader&amp;id=270644" da="shelf.b.2*2_270644" expose="">
												<a>
													<div class="book-cover Lazy_loading Lazy_loaded" data-id="270644" id="Tag__77">
														<img alt="完美世界" src="http://cover.read.duokan.com/mfsv2/download/s010/p01CBWdv06tQ/0wQb35pmpRhaIr.jpg!s">
														<div class="u-tagRT"></div>
														<span class="u-booktag shelf__tag">有更新</span>
													</div>
												</a>
												<div class="info">
													<h3 class="title single-line">完美世界</h3>
													<p class="author single-line">
														<span class="author">辰东</span>
													</p>
													<div class="wrap">
														<p class="extra single-line">最新: 第一千九百八十五章 一行淡淡的脚印</p>
													</div>
												</div>
											</div>
										</li>
										<li id="Tag__78">
											<div class="u-book" data-href="#page=reader&amp;id=308833" da="shelf.b.3*2_308833" expose="">
												<a>
													<div class="book-cover Lazy_loading Lazy_loaded" data-id="308833" id="Tag__79">
														<img alt="宠妃难为" src="http://cover.read.duokan.com/mfsv2/download/s010/p018NN4CqhaC/BmIs9AONWa0zsO.jpg!s">
														<div class="u-tagRT"></div>
													</div>
												</a>
												<div class="info">
													<h3 class="title single-line">宠妃难为</h3>
													<p class="author single-line">
														<span class="author">碧云天</span>
													</p>
													<div class="wrap">
														<p class="extra single-line">最新: 第 162 章</p>
													</div>
												</div>
											</div>
										</li>
										<li id="Tag__80">
											<div class="u-book" data-href="#page=reader&amp;id=270794" da="shelf.b.4*2_270794" expose="">
												<a>
													<div class="book-cover Lazy_loading Lazy_loaded" data-id="270794" id="Tag__81">
														<img alt="七界武神" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01DMhyt0Zkm/sf6mdPxWm06zcc.jpg!s">
														<div class="u-tagRT"></div>
														<span class="u-booktag shelf__tag">有更新</span>
													</div>
												</a>
												<div class="info">
													<h3 class="title single-line">七界武神</h3>
													<p class="author single-line">
														<span class="author">叶之凡</span>
													</p>
													<div class="wrap">
														<p class="extra single-line">最新: 第一千五百五十章 暴露</p>
													</div>
												</div>
											</div>
										</li>
										<li id="Tag__82">
											<div class="u-book" data-href="#page=reader&amp;id=46509" da="shelf.b.5*2_46509" expose="">
												<a>
													<div class="book-cover Lazy_loading Lazy_loaded" data-id="46509" id="Tag__83">
														<img alt="先婚厚爱" src="http://cover.read.duokan.com/mfsv2/download/s010/p017Bgr0t7WU/iYz4mtvYjzwZjO.jpg!s">
														<div class="u-tagRT"></div>
													</div>
												</a>
												<div class="info">
													<h3 class="title single-line">先婚厚爱</h3>
													<p class="author single-line">
														<span class="author">莫萦</span>
													</p>
													<div class="wrap">
														<p class="extra single-line">最新: 番外宝贝女儿</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>