<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/index.css"/>
	<title></title>
</head>
<body>
	<div id="root">
		<div class="Swipe Swipe_full Destructor">
			<div style="width: 734px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
				<div style="width: 734px;">
					<% include include/common-header.html %>
					<div class="Swipe Swipe_full container-scroll Destructor">
						<div style="width: 1468px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
							<div style="width: 734px;">
								<div id="app">
									<div class="new-page book-page" data-track="dt">
										<section class="main-card">
											<div class="u-book -detail">
												<div class="book-cover Lazy_loading Lazy_loaded" data-id="323725" id="Tag__94">
													<img alt="{{ item.title }}" v-bind:src="item.cover">								
													<div class="u-tagRT"></div>
												</div>
												<div class="info">
													<h3 class="title">{{ item.title }}</h3>
													<p class="author">
														<span class="author">{{ item.authors }}</span>
													</p>
													<div class="u-grade">
														<div class="grade grade8"></div>
														<span class="read">{{ item.score_count }}个评价</span>
													</div>
													<p class="price">价格：{{ item.price }}书币/千字</p>
													<p class="count">
														字数：{{ item.word_count }}字
														<span class="u-booktag -serial">连载中</span>
													</p>
												</div>
											</div>
										</section>
										<section class="main-card" style="margin-top:-10px">
											<div class="book-dash">
												<div id="Tag__95">
													<div class="wrap">
							
														<ul class="btn-group">
															<li class="u-btn2" onclick="location.href='/reader'">
																<span class="book-dash-text"></span>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="u-folder " id="Tag__96">
												<div class="folder-cnt">
													{{ item.content }}
												</div>
												<div class="folder-tail">
													<div>最新：{{ item.lastest }}</div>
												</div>
											</div>
										</section>
										<section class="main-card">
											<div class="u-folder " id="Tag__97">
												<div class="folder-top">
													<h3>类别标签</h3>
												</div>
												<div class="folder-cnt">
													<ul class="m-tag -color">
														<li v-for="tag in item.tags" class="u-tag" title="{{ tag }}">{{ tag }}</li>
													</ul>
												</div><em class="folder-more"></em>
											</div>
										</section>
										<section class="main-card -folder">
											<div class="u-title">
												<h1>作者其它图书</h1>
											</div>
											<div class="cnt">
												<ul class="book-table">
													<li data-track="0" v-for="book in author_books" >
														<div class="u-book -vertical">
															<div class="book-cover Lazy_loading Lazy_loaded">
																<img alt="{{ book.title }}" v-bind:src="book.cover">								
																<div class="u-tagRT"></div>
															</div>
															<div class="info">
																<h3 class="title">{{ book.title }}</h3>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</section>
										<section class="main-card -folder">
											<div class="u-title">
												<h1>喜欢本书的人也喜欢</h1>
											</div>
											<div class="cnt">
												<ul class="book-table">
													<li data-track="0" v-for="book in related" >
														<div class="u-book -vertical">
															<div class="book-cover Lazy_loading Lazy_loaded">
																<img alt="{{ book.title }}" v-bind:src="book.cover">								
																<div class="u-tagRT"></div>
															</div>
															<div class="info">
																<h3 class="title">{{ book.title }}</h3>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</section>
										<section class="main-card -folder">
											<div class="u-title">
												<h1>图书信息</h1>
											</div>
											<div class="cnt">
												<ul class="text">
													<li>版权：{{ item.rights }}</li>
												</ul>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/script/vue.js"></script>
	<script src="/static/script/zepto.js"></script>
	<script src="/static/script/pages/book.js"></script>
</body>
</html>