<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/index.css"/>

	<title></title>
</head>
<body>
	<div id="root">
		<div class="Swipe Swipe_full Destructor">
			<div style="width: 734px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
				<div style="width: 734px;" id="app">
					<% include include/header.html %>
					<div class="Swipe Swipe_full container-scroll Destructor">
						<div style="width: 1468px; transition-duration: {{ duration }}s; transform: translate3d({{ position }}px, 0px, 0px);">
							<div style="width: 734px;">
								<div class="Pull-scroll">
									<div class="wrap">
										<div class="new-page channel-page">
											<% include include/index-top.html %>
											<% include include/index-hot.html %>
											<% include include/index-recommend.html %>
											<% include include/index-female.html %>
											<% include include/index-male.html %>
											<% include include/index-free.html %>
											<% include include/index-bottom.html %></div>
									</div>
								</div>
							</div>
							<div style="width: 734px;">
								<% include include/index-shelf.html %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/script/vue.js"></script>
	<script src="/static/script/zepto.js"></script>
	<script src="/static/script/pages/index.js"></script>
</body>
</html>