<html manifest="cache.appcache">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/index.css"/>
	<title></title>
</head>
<body>
	<div id="root">
		<div class="Swipe Swipe_full Destructor">
			<div style="width: 734px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
				<div style="width: 734px;">
					<% include include/header.html %>
					<div class="Swipe Swipe_full container-scroll Destructor">
						<div style="width: 1468px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
							<div style="width: 734px;">
								<div class="search">
									<div class="top">
										<a href="javascript:history.back()" class="top__back"></a>
										<div id="search-input" class="search-input"> <b class="search-input__mi"></b>
											<input type="text" value="" placeholder="输入书名/作者/关键字">
											<div class="search-input__btn" id="Tag__125">搜索</div>
										</div>
									</div>
									<div id="Tag__126" class="top__bd">
										<div id="Tag__127">
											<ul class="m-tag -color search-tag">
												<li class="u-tag" id="Tag__128">我的绝美女神老婆</li>
												<li class="u-tag" id="Tag__129">复仇千金</li>
												<li class="u-tag" id="Tag__130">盗墓</li>
												<li class="u-tag" id="Tag__131">豪门小老婆</li>
												<li class="u-tag" id="Tag__132">庶女</li>
												<li class="u-tag" id="Tag__133">神医</li>
												<li class="u-tag" id="Tag__134">魔兽</li>
												<li class="u-tag" id="Tag__135">我的老婆是双胞胎</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
</body>
	</html>